
.join {
    background: $color-main-dark;
    @include full(0);
    background-image: url('/assets/images/arena.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
}

@-webkit-keyframes run {
  0%   { left: -200px; }
  100% { left: 130%; }
}
@keyframes run {
  0%   { left: -200px; }
  100% { left: 130%; }
}


.join_header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 1.2em;
    padding: 1rem;
    background: $color-main-medium;
    overflow: hidden;
    border-bottom: 5px solid white;
}

.mainTitle {
    font-family: 'arcade';
    color: white;
    float: left;
    margin: 10px 0 0 10px;
}

.login {
    float: right;
    margin: 10px 10px 0;
    font-size: 1em;
}

.login_label {
    font-family: 'arcade';
    color: white;
    font-size: 1.8em;
    margin-right: 5px;
    display: inline-block;
}

.login_button {
    font-family: 'arcade';
    color: $color-secondary;
    font-size: 1.8em;
    display: inline-block;
    border: none;
    background: none;
}

.join_section {
    width: 800px;
    margin: 5rem auto 0;
    padding: 2rem;
    background-color: black;
    text-align: center;
}

.join-label {
    font-family: 'arcade';
    font-size: 2.5em;
    color: $color-main-light;
    z-index: 10;
    position: relative;
}

.join_nameWrapper {
    margin: 30px auto 20px;
    font-size: 0;
    text-align: center;
    z-index: 10;
}

.join_nameInner {
    display: inline-block;
}

.join_name,
.join_pwd {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include remIt('font-size', 30);
    @extend %input;
}



.retro_button {
    @extend %clickable;
    z-index: 10;
    position: relative;
    font-size: 2.5em;
    vertical-align: top;
    padding: 1rem 2rem;
    background: $color-main-dark;
    color: white;
    @include box-shadow(5px 5px 0 0 $color-main-light);

    .join_section & {
        background: $color-main-dark;
        @include box-shadow(5px 5px 0 0 $color-main-medium);
    }

    &:active {
        @include box-shadow(none);
        margin: 0 -5px -5px 0;
    }
}