
.qrCode {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: transparentize($color-main-light, .1);
    display: none;

    &.__visible {
        display: block;
    }
}

.qrCode .qrcode {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.qrCode_closer {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 200px;
    padding: 20px 10px;
    margin: auto;
    @include remIt('font-size', 25);
}