.createRace_form {
    background: #222;
    width: 500px;
    margin: 30px auto;
    padding: 20px;

    &.__hidden {
        display: none;
    }

    .__close {
        float: right;
        color: white;
    }
}

.createRace_label {
    font-family: 'arcade';
    color: $color-secondary;
    display: block;
    text-transform: uppercase;
    @include remIt('font-size', 26);
}

.createRace_input {
    padding: 0 15px;
    font-family: 'arcade';
    display: block;
    vertical-align: middle;
    margin-bottom: 25px;
    width: 100%;
    @include remIt('font-size', 32);
}

.createRace_scenes {
    margin: 0 0 30px;
    padding: 0;
}

.createRace_scene {
    border: 5px solid transparent;
    display: inline-block;
    width: 210px;
    height: 160px;
    margin-left: 34px;
    position: relative;

    &.__selected {
        border-color: $color-secondary;
    }

    &:first-child {
        margin-left: 0;
    }

    input {
        display: none;
    }
}

.createRace_scene_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .__field & {
        background: url('/assets/images/scenes/field_extract.jpg') no-repeat top left;
        background-size: cover;
    }
    .__moon & {
        background: url('/assets/images/scenes/moon_extract.jpg') no-repeat top left;
        background-size: cover;
    }
}

.createRace_button {
    @extend %clickable;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    @include remIt('font-size', 32);
}


.races {
    padding: 0;
    margin: 0;
}

.race {
    padding: 8px 20px;
    border-bottom: 1px solid transparentize($color-main-light, .6);
    overflow: hidden;
}

.race_name {
    font-family: 'arcade';
    color: $color-main-light;
    @include remIt('font-size', 25);

    .highlighted {
        text-transform: uppercase;
        color: white;
    }
}

.race_state {
    font-family: 'arcade';
    color: $color-main-medium;
    @include remIt('font-size', 25);
    &:before {
        content: ' - ';
    }
}

.race_link {
    font-family: 'arcade';
    color: $color-secondary;
    @include remIt('font-size', 25);
    float: right;
    border: none;
    background: none;
    border-right: 1px solid #444;
    padding-right: 25px;
    margin-right: 25px;

    &:nth-child(2) {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }

    &.__highlighted {
        color: white;
    }
}

.leaderboardLink,
.racesLink {
    font-family: 'arcade';
    color: $color-secondary;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 20px;
    left: 20px;
    @include remIt('font-size', 30);
}
.leaderboardLink {
    top: 40px;
}

.newraceButton {
    position: absolute;
    top: 35px;
    right: 30px;
}

.noraces {
    font-family: 'arcade';
    padding: 40px 0 0;
    color: white;
    text-align: center;
    @include remIt('font-size', 40);
}