.racerunners {
    background: $color-main-dark;
    border: 10px solid $color-main-light;
    overflow: hidden;
    padding: 15px 0 10px 65px;
    width: 250px;
    height: 338px;
    float:left;
    margin: 0 20px;
}

.racerunners_line {
    font-family: 'arcade';
    font-size: 1.8em;

    &.__waiting {
        color: white;
    }

    &.__rewarded, &.__animated {
        color: $color-secondary;
    }

    &.__answered {
        color: $color-main-medium;
    }
}