<div class="gamepad_timer" data-ng-if="timer">{{timer}}</div>

<div id="question" class="gamepad_question" data-ng-switch="question.type">
    <span data-ng-switch-when="open">{{question.question}}</span>
    <span data-ng-switch-when="capital">{{question.question}} is the capital of which country ?
    </span>
    <div data-ng-switch-when="flag">
      <span>Which flag is it ?</span><br>
      <img data-ng-src="/assets/images/flags/{{question.question}}.jpg" alt="">
    </div>
    <div data-ng-switch-when="photo">
      <span>Where is it ?</span><br>
      <img data-ng-src="/assets/images/photos/{{question.question}}.jpg" alt="">
    </div>
</div>
<ul class="gamepad_options">
  <li class="gamepad_option" data-ng-repeat="(option, value) in question.options">
    <button class="gamepad_button" 
            data-ng-disabled="RACE.runners[me.name].state === 'answered'"
            data-ng-click="sendAnswer($event, option)"
            data-ng-bind="value"></button>
  </li>
</ul>