
<header class="race_header">
  <div class="race_title" data-ng-bind="RACE.name"></div>
  <button class="start-button" data-ng-if="startButton" data-ng-click="startRace($event)">Start</button>
</header>




<div class="running_area">
    <!-- RANKING -->
    <ol class="racerunners">
      <li class="racerunners_line __{{data.state}}"
          data-ng-repeat="data in RACE.runners | toArray | orderBy:'steps':true">{{data.name}}</li>
    </ol>


    <!-- TRACK -->
    <ul class="runners __{{RACE.scene}}">
        <li data-ng-repeat="runner in RACE.runners" 
            class="runner __{{runner.state}}"
            id="runner-{{runner.name}}"
            data-steps="{{runner.steps}}"
        >
            <span class="runner_anime __{{runner.character}}"></span>
            <img hidden data-ng-src="assets/images/anime/{{runner.character}}.gif" alt="runner">
        </li>
    </ul>
</div>







<!-- GAMEPAD -->
<div class="gamepad" data-ng-if="question">
    <div data-ng-include="'views/gamepad.html'"></div>
</div>



<!-- EXIT BUTTON -->
<button class="race_exit_button" data-ng-click="goto($event, '/races')" data-ng-if="WINNER || LOOSER">EXIT</button>