
<div class="profile">
    <div class="profile_inner">
        <div class="profile_imgWrapper">
            <img data-ng-src="/assets/images/characters/{{me.character}}.png" alt="" class="profile_img">
        </div>
        <div class="profile_user">
            <span class="profile_name">{{me.name}}</span><br>
            <!--<a class="profile_link" id="profileEdit" href="/edit">Edit</a>-->
            <a class="profile_link" data-ng-click="quit()" id="profileLogout">Quit</a>
        </div>
    </div>
</div>

<form class="createRace_form" data-ng-submit="createRaceSubmit()">
    
    <button data-ng-click="goto($event, 'leaderboard')" class="leaderboardLink">Leaderboard...</button>

    <input class="createRace_input" type="text" placeholder="New race name" data-ng-model="newRace_name" />
    <button class="retro_button" type="submit">Create a race</button>
</form>

<ul class="races">
    <li class="race" data-ng-repeat="race in RACES | orderBy:timestamp" >
        <span class="race_name">
            <span class="highlighted">{{race.name}}</span> ({{race.runnerNb}} pugs)</span>
        <button data-ng-if="race.name === myRace" class="race_link leave_button" data-ng-click="leaveRace($event)">Leave</button>
        <span data-ng-if="race.state === 'full'" class="race_state">Full</span>
        
        <button data-ng-if="race.state !== 'full' && race.name !== myRace" class="race_link" data-ng-click="joinRace($event, race)">Play here</button>

        <button data-ng-if="race.state !== 'full'" class="race_link" data-ng-click="joinWithPhone($event, race)">Play on my phone</button>
    </li>
</ul>