
<header class="race_header">
  <div class="race_title" data-ng-bind="RACE.name"></div>
  <button class="start-button" data-ng-if="startButton" data-ng-click="startRace($event)">Start</button>
</header>



<!-- TRACK -->
<ul class="runners">
    <li data-ng-repeat="runner in RACE.runners" 
        class="runner __{{runner.state}}"
        id="runner-{{runner.name}}"
        data-steps="{{runner.steps}}"
    >
        <span class="runner_anime __{{runner.character}}"></span>
        <img hidden data-ng-src="assets/images/anime/{{runner.character}}.gif" alt="runner">
    </li>
</ul>



<!-- RANKING -->
<ol class="racerunners">
  <li class="racerunners_line __{{value.state}}"
      data-ng-repeat="(key, value) in RACE.runners | orderBy:steps:true">
    {{$index + 1}}.{{value.name}}
  </li>
</ol>



<!-- GAMEPAD -->
<div class="gamepad" data-ng-if="QUESTIONS[QUESTION_KEY]">
    <div class="gamepad_timer" data-ng-if="timer">{{timer}}</div>
    <div id="question" class="gamepad_question" data-ng-switch="QUESTIONS[QUESTION_KEY].type">
        <span data-ng-switch-when="open">{{QUESTIONS[QUESTION_KEY].question}}</span>
        <span data-ng-switch-when="capital">{{QUESTIONS[QUESTION_KEY].question}} is the capital of which country ?
        </span>
        <div data-ng-switch-when="flag">
          <span>Which flag is it ?</span><br>
          <img data-ng-src="/assets/images/flags/{{QUESTIONS[QUESTION_KEY].question}}.jpg" alt="">
        </div>
        <div data-ng-switch-when="photo">
          <span>Where is it ?</span><br>
          <img data-ng-src="/assets/images/photos/{{QUESTIONS[QUESTION_KEY].question}}.jpg" alt="">
        </div>
    </div>
    <ul class="gamepad_options">
      <li class="gamepad_option" data-ng-repeat="(option, value) in QUESTIONS[QUESTION_KEY].options">
        <button class="gamepad_button" 
                data-ng-disabled="RACE.runners[me.name].state === 'answered'"
                data-ng-click="sendAnswer($event, option)"
                data-ng-bind="value"></button>
      </li>
    </ul>
</div>



<!-- EXIT BUTTON -->
<button class="race_exit_button" data-ng-click="goto($event, '/races')" data-ng-if="WINNER || LOOSER">EXIT</button>