
<div class="profile">
    
    <button data-ng-click="goto($event, 'leaderboard')" class="retro_button leaderboardLink">Leaderboard...</button>

    <div class="profile_inner">
        <div class="profile_imgWrapper">
            <img data-ng-src="/assets/images/characters/{{me.character}}.png" alt="" class="profile_img">
        </div>
        <div class="profile_user">
            <span class="profile_name">{{me.name}}</span><br>
            <a class="profile_link" data-ng-click="quit()" id="profileLogout">Quit</a>
        </div>
    </div>
    <button class="retro_button newraceButton" data-ng-click="showRaceForm = true">New race</button>
</div>

<form class="createRace_form" data-ng-submit="createRaceSubmit()" data-ng-class="{'__hidden': !showRaceForm}">
    <!-- <button data-ng-click="goto($event, 'leaderboard')" class="leaderboardLink">Leaderboard...</button> -->

    <label class="createRace_label" for="newRaceName">Name:</label>
    <input class="createRace_input" id="newRaceName" type="text" placeholder="New race name" data-ng-model="newRace_name" />

    <label class="createRace_label">Scene:</label>
    <ul class="createRace_scenes">
        <li class="createRace_scene __field" data-ng-class="{'__selected': newRace_scene === 'field'}">
            <label for="scene_field" class="createRace_scene_img"></label>
            <input data-ng-model="newRace_scene" type="radio" id="scene_field" name="newRaceScene" value="field">
        </li>
        <li class="createRace_scene __moon" data-ng-class="{'__selected': newRace_scene === 'moon'}">
            <label for="scene_moon" class="createRace_scene_img"></label>
            <input data-ng-model="newRace_scene" type="radio" id="scene_moon" name="newRaceScene" value="moon">
        </li>
    </ul>

    <button class="retro_button" type="submit">Create</button>

    <button class="retro_button __close" type="button" data-ng-click="showRaceForm = false">Close</button>
</form>



<ul class="races">
    <li class="race" data-ng-repeat="race in RACES | orderBy:timestamp">
        <span class="race_name">
            <span class="highlighted">{{race.name}}</span> ({{race.runnerNb}} pugs)</span>
        <button data-ng-if="race.name === myRace" class="race_link leave_button" data-ng-click="leaveRace($event)">Leave</button>
        <span data-ng-if="race.state === 'full'" class="race_state">Full</span>
        
        <button data-ng-if="race.state === 'waiting' && race.name !== myRace" class="race_link __highlighted" data-ng-click="joinRace($event, race)">JOIN</button>

        <button data-ng-if="race.state === 'waiting'" class="race_link" data-ng-click="joinWithPhone($event, race)">Play on my phone</button>

        <button data-ng-if="race.owner.name === me.name" class="race_link" data-ng-click="deleteRace($event, race, me)">Delete</button>
    </li>
</ul>