
$join-fontsize: 3;

.join {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    background: $color-main-dark;
    border-top: 10px solid $color-main-light;
    border-bottom: 5px solid $color-main-medium;
    padding: 40px;
}

.join-label {
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'arcade';
    font-size: #{$join-fontsize}em;
    color: $color-main-light;
}

.join-input {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    font-family: 'arcade';
    font-size: #{$join-fontsize}em;
}

.join-button {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-family: 'arcade';
    font-size: #{$join-fontsize}em;
    color: $color-secondary;
    border: none;
    background: none;
    outline: none;

    &:before {
        content: "";
        display: inline-block;
        width: 5px;
        vertical-align: middle;
        border: 10px solid transparent;
        border-left-color: #d7c72a;
        cursor: pointer;
        margin-top: -14px;
    }

    &:active {
        padding-top: 23px;
    }
}

/*  FACES */
.join-faces {
    margin: 30px auto 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    width: 450px;

    .registered & {
        width: 150px;
    }
}

.join-face {
    float: left;
    width: 33%;
    padding: 0;
    height: 123px;
    text-align: center;
}

.join-face-button {
    width: 123px;
    height: 123px;
    display: block;
    margin: auto;
    background: url('/assets/images/face-a.png') no-repeat;
    border: 6px solid #9393c9;
    outline: none;

    .__selected & {
        border-color: #d7c72a;
        background-color: white;
    }
}

.__alternative .join-face-button {
    background-image: url('/assets/images/face-b.png');
}

.__pig .join-face-button {
    background-image: url('/assets/images/face-c.png');
}

@media (max-device-width: 640px) {
    .join {
        max-width: none;
    }

    .join-label,
    .join-input,
    .join-button,
    .join-faces {
        margin-top: 50px;
        font-size: 6em;
    }
}
