.players {
    margin: 0;
    padding: 0;
    display: block;
    width: 900px;
    margin: 60px auto 0;
    background: $color-main-light;
    border: 10px solid #eee;
    border-radius: 10px;
}
.player {
    display: block;
    border-bottom: 2px solid black;
    padding: 30px 0 0;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        bottom: -23px;
        background: url('/assets/images/pizza.png') no-repeat;
        background-size: cover;
    }
}

$pugSize: 140;
$track-fontsize: 3;
.pug {
    display: block;
    float: left;
    width: #{$pugSize}px;
    height: #{$pugSize}px;
    position: relative;
    background: url('/assets/images/pug.gif') top no-repeat;
    background-size: cover;
    transition: margin-left .6s linear;
    margin-bottom: -46px;
    margin-left: -28px;
    z-index: 1;

    .__black & {
        background-image: url('/assets/images/pug-b.gif');
    }

    .__pig & {
        background-image: url('/assets/images/pig.gif');
    }
}

.pug-name {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}


.start-button {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    font-family: 'arcade';
    font-size: #{$track-fontsize}em;
    color: $color-secondary;
    border: none;
    background: none;
    outline: none;

    &:before {
        content: "";
        display: inline-block;
        width: 5px;
        vertical-align: middle;
        border: 10px solid transparent;
        border-left-color: #d7c72a;
        cursor: pointer;
        margin-top: -14px;
    }

    &:active {
        padding-top: 23px;
    }
}


@for $i from 1 through 900 {
    [data-steps="#{$i}"] .pug {
        margin-left: #{$i * 10}px;
    }
}