
$actionSize: 150;

.box {
    width: 320px;
    height: 490px;
    background: red;
    position: absolute;
    left: 6%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box_action {
    border-radius: 50%;
    background: yellow;
    position: absolute;
    bottom: 25%;
    right: -30px;
    width: #{$actionSize}px;
    height: #{$actionSize}px;
    text-align: center;
    text-decoration: none;
}

.box_action:before {
    content: '';
    display: inline-block;
    width: 0;
    vertical-align: middle;
    height: 100%;
}

.box_action_inner {
    display: inline-block;
    vertical-align: middle;
}

.box_title {
    font-size: 2em;
    display: block;
}

.box_subtitle {
    font-size: 1em;
    display: block;
}