<link rel="import" href="/bower_components/core-style/core-style.html">
<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="race-runners" noscript>
    <template>
        <core-style ref="racerunners"></core-style>
        <ol class="racerunners" id="list"></ol>
    </template>
    <script>
        Polymer('race-runners', {
            ready: function() {
                var list = this.$.list;
                
                socket.on('raceData', function(data) {
                    updateList(data.runners);
                });
                
                
                socket.on('updateRunnerList', function(data) {
                    updateList(data);
                });

                socket.on('newChallenger', function(race) {
                    debugger;
                    updateList(race.runners);
                });
                
                
                function updateList(data) {
                    var array = [];
                    for (var i in data) {
                        array.push(data[i]);
                    }
                    
                    array.sort(function(a, b) {
                        return b.steps - a.steps;
                    });
                    
                    var lines = '';
                    var rank;
                    for (var i=0; i < array.length; i++) {
                        rank = i+1;
                        lines = lines + '<li class="racerunners_line">' + rank + '. ' +  array[i].name + '</li>';
                    }
                    list.innerHTML = lines;
                }
                
            }
        });
    </script>
</polymer-element>