<link rel="import" href="/bower_components/core-style/core-style.html">
<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="my-gamepad" noscript>
    <template>
        <core-style ref="gamepad"></core-style>
        <script src="/assets/js/src/Answer.js"></script>
        <div class="gamepad">
            <div id="question" class="gamepad-question"></div>
            <ul id="answers" class="gamepad-answers"></ul>
        </div>
    </template>
    <script>
        Polymer('my-gamepad', {
            ready: function() {
                
                var question = this.$.question;
                var answers  = this.$.answers;
                
                allButtonState(true);
                
                socket.on('goToNextQuestion', function(data) {
                    if (!data.question) return;
                    
                    switch(data.question.type) {
                        
                        case "capital":
                            question.innerText = data.question.question;
                            break;
                            
                        case "flag":
                            question.innerHTML = '<img src="/assets/images/flags/' + data.question.question + '.jpg" alt="">';
                            break;
                            
                        case "photo":
                            question.innerHTML = '<img src="/assets/images/photos/' + data.question.question + '.jpg" alt="">';
                            break;
                            
                        case "anthemn":
                            question.innerHTML = '';
                            break;
                    }
                    
                    var options = '';
                    for (var i = 0; i < data.question.options.length; i++) {
                        var me = JSON.parse(localStorage.getItem('pugrunner_me'));
                        options += '<li><button on-click="{{clicked}}" onclick="sendAnswer(\'' + me.race_name.trim() + '\', \'' + me.name.trim() + '\',' + i + ', \'' + Date.now() + '\', \'' + data.key + '\')" value="' + i + '">' + data.question.options[i] + '</button></li>';
                    }
                    answers.innerHTML = options;
                });
                
                socket.on('reward', function(runner_name) {
                    var me = JSON.parse(localStorage.getItem('pugrunner_me'));
                    if (me.name !== runner_name) {
                        allButtonState(false);
                    }
                });
                
                function allButtonState(bool) {
                    var buttons = answers.querySelectorAll('button');
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].disabled = !bool;
                    }
                }
            },
            
            clicked: function() {
                var answers  = this.$.answers;
                var buttons = answers.querySelectorAll('button');
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].disabled = true;
                }
            }
        });
    </script>
</polymer-element>