<div class="box">
    <button class="fork_button"><span>Fork it</span><span>on Github</span></button>
    <div class="box_inner">
        <div class="box_title">Multiplayer pug racing retro videogame</div>
        <a href="/play" class="play_button"><span class="play_button_inner">Play online</span></a>
    </div>
</div>

<img  class="img"
      src="/website/img/small.png"
      srcset="/website/img/small.png 640w, 
              /website/img/medium.png 1024w, 
              /website/img/hercule-big.jpg 2048w"
      alt="">