<div data-ng-include="'/website/partials/nav.html'"></div>

<div class="imgWrapper" data-ng-include="'/website/partials/header.html'"></div>


<div data-ng-include="'/website/partials/stats.html'"></div>


<div class="wrapper">
    <div class="section" id="rules" data-ng-include="'/website/partials/rules.html'"></div>

    <div class="section" id="install" data-ng-include="'/website/partials/install.html'"></div>

    <div class="section" id="quality" data-ng-include="'/website/partials/tech.html'"></div>

    <div class="section" id="screens" data-ng-include="'/website/partials/screens.html'"></div>
</div>


<div data-ng-include="'/website/partials/footer.html'"></div>