<h2 class="section_title">Install locally</h2>
<div class="section_inner">
    <ul class="steps">
        <li class="step">
            <h3 class="step_title">In your computer terminal</h3>
<pre class="code">
git clone https://github.com/dahfazz/pugrace.git
</pre>
        </li>
        <li class="step">
            <h3 class="step_title">Open and edit conf.js file</h3>
<pre class="file">
port: '8880',       <span class="comment">// The port you want to launch the game on</span>
ip:   'localhost'   <span class="comment">// The IP address you want to launch the game on</span>
</pre>
        </li>
        <li class="step">
            <h3 class="step_title">Install every project dependencies</h3>
<pre class="code">
$ npm install
$ bower install
</pre>
        </li>
        <li class="step">
            <h3 class="step_title">And finally, back in your terminal</h3>
<pre class="code">
$ node app.js

> here we go on localhost:8880
</pre>
        </li>
    </ul>
</div>