<h2 class="section_title">Rules</h2>
<div class="section_inner">
    <ol class="list">
        <li class="list_item">First, create your pug</li>
        <li class="list_item">Then, Join a create or create yours (you become the owner).</li>
        <li class="list_item">Any other players can join the race until the owner click START, or whether you're 6 runners.</li>
        <li class="list_item">Everybody engaged in the race receive the same question simultaneously</li>
        <li class="list_item">Only the first who sends the good answer makes his pug running one step forward</li>
        <li class="list_item">You can only answer once to each question</li>
    </ol>
</div>