<h2 class="section_title">Quality</h2>
<div class="section_inner">
    Pugs are greedy, but they are also gourmets, that's why we always careful put the best treats in their bowls.
</div>

<ul class="tech">
    <li class="tech_item __angular">Angularjs</li>
    <li class="tech_item __nodejs">NodeJS</li>
    <li class="tech_item __heroku">Heroku</li>
    <li class="tech_item __polymer">Polymer</li>
    <li class="tech_item __docssa">DoCSSa</li>
    <li class="tech_item __socketio">SocketIO</li>
</ul>