.code {
    background: black;
    font-size: .5em;
    font-family: 'verdana';
    color: #f2f2f2;
    display: block;
    padding: 20px;

    .comment {
        color: #999;
    }

    b {
        color: white;
    }
}