.code {
    background: black;
    font-family: 'verdana';
    color: #fff;
    display: block;
    padding: 20px;

    .comment {
        color: #999;
    }
}

.file {
    background: rgba(0, 0, 0, 0.05);
    font-family: 'verdana';
    color: #000;
    display: block;
    padding: 20px;

    .comment {
        color: #999;
    }
}