.footer {
    background: #111;
    padding: 20px 0;
    position: relative;
    z-index: 3;

    &:before {
        content: "";
        height: 140px;
        width: 140px;
        display: block;
        background: url('../img/logo.png') no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

.footer_label {
    color: #aaa;
    font-family: 'arial';
    font-size: 1em;
    text-align: center;
}