.header {
    background: #111;
    background: $color-main;
    overflow: hidden;
    padding: 10px;
}

.header_title {
    color: white;
    font-family: 'arial';
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    float: left;
}