
.nav {
    display: inline-block;
    float: right;
    margin: 0.67em 0;
}

.nav_link{
    color: white;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    font-size: 1em;
}