

.section {
    background: white;
    font-size: 1em;
    color: #222;
    padding: 40px;

    &:first-child {
        padding-top: 0;
    }
}

.section_title {
    font-weight: normal;
    font-size: 2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.section_inner {
    font-size: 2em;
    font-weight: lighter;
}