/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4;
$containerWidth: 760;
$left-nav-width: 200;

$nav-variant: 'base';


// Colors
// ==========================================================================


$color-main-dark: #1f2072;
$color-main-light: #9393c9;
$color-main-medium: #413f88;

$color-secondary: #d7c72a;