/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4;
$containerWidth: 760;
$left-nav-width: 200;

$nav-variant: 'base';


// Colors
// ==========================================================================


$color-main-dark: #00f;
$color-main-light: #fff;
$color-main-medium: #000;

$color-secondary: #d7c72a;