html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  font-family: 'Roboto', 'arial', 'sans-serif';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 990px;
  margin: auto; }

.footer {
  background: #111;
  overflow: hidden;
  padding: 40px 0; }

.footer_label {
  color: #aaa;
  font-family: 'arial';
  font-size: 1em;
  text-align: center; }

.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; }

.nav_link {
  color: white;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  font-size: 1em; }

.imgWrapper {
  position: relative;
  padding: 0;
  margin: 0; }
  .imgWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #517fa4;
    background-image: -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: linear-gradient(to bottom, #517fa4, #306088);
    opacity: .8;
    z-index: 0; }

.img {
  width: 100%; }

.box {
  width: 450px;
  height: 618px;
  background: url("../img/box.jpg") no-repeat;
  position: absolute;
  bottom: 0;
  left: 5%;
  -webkit-animation: appear .6s 1;
  animation: appear .6s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes appear {
  0% {
    left: -800px; }

  80% {
    left: 7%; }

  100% {
    left: 5%; } }
@keyframes appear {
  0% {
    left: -800px; }

  80% {
    left: 7%; }

  100% {
    left: 5%; } }
.box_inner {
  font-size: 3em;
  position: absolute;
  left: 110%;
  top: 50%;
  color: white;
  height: 200px;
  width: 500px;
  margin-top: -100px;
  text-align: center; }

.play_button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  background: none;
  display: inline-block;
  text-decoration: none; }
  .play_button:hover {
    background: #2980b9; }

.play_button_inner {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: .5em; }

.fork_button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  color: black;
  background: white;
  border: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
  text-decoration: none; }
  .fork_button:hover {
    background: #ddd; }
  .fork_button span {
    display: block;
    text-align: center; }
  .fork_button span:first-child {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 35px; }
  .fork_button span:last-child {
    font-size: 1.1em; }

.section {
  background: white;
  font-size: 1em;
  color: #222;
  padding: 40px; }
  .section:first-child {
    padding-top: 0; }

.section_title {
  font-weight: normal;
  font-size: 2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px; }

.section_inner {
  font-size: 2em;
  font-weight: lighter; }

.list {
  margin: 0 0 0 45px;
  padding: 0; }

.list_item {
  padding: 15px 0; }

.tech {
  margin: 0 0 0 30px;
  padding: 0;
  overflow: hidden; }

.tech_item {
  float: left;
  width: 33%;
  height: 150px;
  margin-top: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -99999px; }
  .tech_item.__angular {
    background-image: url("../img/logos/angular.jpg"); }
  .tech_item.__nodejs {
    background-image: url("../img/logos/nodejs.png"); }
  .tech_item.__heroku {
    background-image: url("../img/logos/Heroku.png"); }
  .tech_item.__polymer {
    background-image: url("../img/logos/polymer.png"); }
  .tech_item.__docssa {
    background-image: url("../img/logos/docssa.png"); }
  .tech_item.__socketio {
    background-image: url("../img/logos/socketio.png"); }

.stats {
  text-align: center;
  margin: 60px 0; }

.stats_items {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }

.stats_item {
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  font-size: 3em; }

.screens {
  padding: 0;
  margin: 0;
  list-style: none; }

.screen {
  width: 33%;
  display: inline-block;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top; }
  .screen.__home {
    background-image: url("../img/screens/home.png");
    background-size: 100% auto; }
  .screen.__races {
    background-image: url("../img/screens/races.png");
    background-size: 100% auto; }
  .screen.__race {
    background-image: url("../img/screens/race.png");
    background-size: 100% auto; }

.code {
  background: black;
  font-size: .5em;
  font-family: 'verdana';
  color: #f2f2f2;
  display: block;
  padding: 20px; }
  .code .comment {
    color: #999; }
  .code b {
    color: white; }

.steps {
  margin: 0;
  padding: 0;
  list-style: none; }

.step {
  padding: 20px 0; }

.step_title {
  font-weight: normal;
  font-size: .6em; }

/*# sourceMappingURL=main.css.map */
