html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  font-family: 'Roboto', 'arial', 'sans-serif';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/hercule-big.jpg") no-repeat top;
  background-size: 100% auto; }
  html:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #517fa4;
    background-image: -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: linear-gradient(to bottom, #517fa4, #306088);
    opacity: .8;
    z-index: 0; }

.wrapper {
  background: white;
  position: relative;
  z-index: 1;
  padding-top: 25px; }

.wrapper_inner {
  width: 700px;
  margin: 0 auto; }

.footer {
  background: #111;
  padding: 20px 0;
  position: relative;
  z-index: 3; }
  .footer:before {
    content: "";
    height: 140px;
    width: 140px;
    display: block;
    background: url("../img/logo.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right: 0px; }

.footer_label {
  color: #aaa;
  font-family: 'arial';
  font-size: 1em;
  text-align: center; }

.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; }

.nav_link {
  color: white;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  font-size: 1em; }

.imgWrapper {
  position: relative;
  padding: 0;
  margin: 0;
  height: 65%; }

.img {
  width: 100%; }

/*  Phone + Landscape  */
.box {
  background: url("../img/box.jpg") no-repeat left;
  background-size: auto 100%;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  width: 90%;
  -webkit-animation: appear .6s 1;
  animation: appear .6s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .box:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

@-webkit-keyframes appear {
  0% {
    left: -800px; }

  80% {
    left: 7%; }

  100% {
    left: 5%; } }
@keyframes appear {
  0% {
    left: -800px; }

  80% {
    left: 7%; }

  100% {
    left: 5%; } }
.box_inner {
  font-size: 2em;
  color: white;
  height: 200px;
  margin-left: 36%;
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter; }
  .box_inner .highlighted {
    font-size: 1.5em;
    font-weight: bold; }

.play_button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  background: #2980b9;
  color: white;
  display: inline-block;
  text-decoration: none; }
  .play_button:hover {
    background: #2472a4; }

.play_button_inner {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: .5em; }

.section {
  background: white;
  color: #222;
  padding: 0 0 40px; }
  .section:first-child {
    padding-top: 0; }

.section_title {
  font-weight: normal;
  font-size: 1.5em;
  border-bottom: 1px solid #2980b9;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.list {
  margin: 0 0 0 25px;
  padding: 0; }

.list_item {
  padding: 15px 0; }

.tech {
  margin: 0 0 0 30px;
  padding: 0;
  overflow: hidden; }

.tech_item {
  float: left;
  width: 33%;
  height: 150px;
  margin-top: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -99999px; }
  .tech_item.__angular {
    background-image: url("../img/logos/angular.jpg"); }
  .tech_item.__nodejs {
    background-image: url("../img/logos/nodejs.png"); }
  .tech_item.__heroku {
    background-image: url("../img/logos/Heroku.png"); }
  .tech_item.__gulp {
    background-image: url("../img/logos/gulp.png"); }
  .tech_item.__docssa {
    background-image: url("../img/logos/docssa.png"); }
  .tech_item.__socketio {
    background-image: url("../img/logos/socketio.png"); }

.stats {
  text-align: center;
  padding: 60px 0; }

.stats_items {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }

.stats_item {
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  font-size: 3em; }

.screens {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0; }

.screen {
  width: 30%;
  display: inline-block;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top; }
  .screen.__home {
    background-image: url("../img/screens/home.png");
    background-size: 100% auto; }
  .screen.__races {
    background-image: url("../img/screens/races.png");
    background-size: 100% auto;
    margin-left: 5%;
    margin-right: 5%; }
  .screen.__race {
    background-image: url("../img/screens/race.png");
    background-size: 100% auto; }

.code {
  background: black;
  font-family: 'verdana';
  color: #fff;
  display: block;
  padding: 20px; }
  .code .comment {
    color: #999; }

.file {
  background: rgba(0, 0, 0, 0.05);
  font-family: 'verdana';
  color: #000;
  display: block;
  padding: 20px; }
  .file .comment {
    color: #999; }

.steps {
  margin: 0;
  padding: 0;
  list-style: none; }

.step {
  padding: 20px 0;
  list-style: square;
  margin-left: 20px; }

.step_title {
  font-weight: normal; }

/*# sourceMappingURL=main.css.map */
